@charset "utf-8";
/* CSS Dócument */
.lista{	display: none;
        position: fixed;
        top: 59.5px;
        overflow: hidden;
        margin: auto 0.5%;
        width: 386px;
        height: 350px;
        z-index: 3;
        background-color: #fff;
        border: none;
outline: none;
line-height: 350px;
box-sizing: border-box
}