.divlogin{
	width: 100%;
	height: 25px;
	background-color: #2c779c;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.divlogin a{
	color: #e6e6e6;
	font-family: 'Poppins', sans-serif;
	font-size: 0.9em;
	font-weight: 500;
	padding: 0 7px 0 7px;
	height: 25px;
}

.divlogin a:hover{
	background-color: #6CA1BB;
}

.navbar{
	width: 100%;
	height: 55px;
	background-color: #6CA1BB;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navesq{
	width: 95%;
	display: flex;
	flex-direction: row;
	height: 55px;
	align-items: center;
	align-content: center;
}

.navbar img{
	cursor: pointer;
	width: 40px;
	margin: 20px
}

.menu a{
	color: #fff;
	margin: 15px;
	font-weight: 600;
	
}

.menu a:hover{
	color: #e6e6e6;
}

#html{
	width:100%
}

.pesquisanav{
	width: 20%;
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: .3s;
	z-index: 2;
}

.pesquisanav input{
	height: 30px;
	width: 100%;
	background-color: #e5eef3;
	outline: none;
	border: none;
	color:#151d22;
	border-radius: 5px;
	padding: 5px;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	}
.pesquisanav:focus-within{
	width: 40%
}

.navbar span{
	font-size: 35px;
	color: #fff;
}

.navicones {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	align-content: center;
	height: 25px;
}

.pesquisanav input:focus{
	border-radius: 5px 5px 0 0;
}

.pesquisanav input::placeholder{
	color: #6CA1BB
}

.lista{	display: none;
	overflow: hidden;
    text-overflow: ellipsis;
	width: 100%;
	height: 300px;
	border-radius: 0 0 5px 5px;
	background-color: #e5eef3;
}

@media screen and (max-width: 900px) {
	.navesq .fa-bars, .navesq .fa-user-circle{
		font-size: 25px;
	}

	.navicones{
		display: flex
	}

	.navesq .fa-bars:hover, .navesq .fa-user-circle:hover{
		color: #c5d8e2;
		cursor: pointer
	}

	.pesquisanav:focus-within{
		width: 100%
	}

	.navbar{
		height: 90px;
		flex-direction: column;
		padding-left: 5%;
		padding-right: 5%;
	}

	.pesquisanav{
		width: 100%;
		
	}

	.conta, .logo1{
		display: none;
	}

	.navesq{
		flex-direction: column-reverse;
		width: 100%;
		margin-right: 5%;
		margin-left: 5%;
		justify-content: space-around;
		height: 90px;
	}

	.menu{
		display: none;
		position: absolute;
		flex-direction: column;
		top: 113px;
		height: 150px;
		z-index: 4;
		background-color: #6CA1BB;
		width: 100%;
		align-items: center;
		font-size: 16px;
	}

	.menu a{
		width: 100%;
		display: flex;
		height: 50px;
		align-items: center;
		align-content: center;
		justify-content: center;
		justify-items: center;
		margin: 0;
	}

	.menu a:hover{
		background-color: #2c779c;
	}
}