body{
    margin: 0;
    background-color: blue;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.principal{
    width: 100%;
    height: 400vh;
    background-color: blue;
    align-items: center;
    flex-direction: column;
    display: flex;

}

.divnavbar{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

.divslider{
    width: 100%;
    height: 450px;
    background-color: yellow;
}

.divanuncio1{
    width: 70%;
    height: 150px;
    background-color: yellow;
    margin: 3%
}

.divsugestao{
    width: 90%;
    height: 600px;
    border: 2px solid red;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.divcalendario{
    width: 35%;
    height: 600px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.divtitulosu{
    width: 100%;
    height: 100px;
    background-color: yellow;
}

.divcalendario2{
    width: 100%;
    height: 490px;
    background-color: yellow;
}

.divsugestoesm{ 
    width: 64%;
    height: 600px;
    background-color: yellow;
}

.divacessados{
    width: 90%;
    height: 600px;
    border: 2px solid red;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin: 3%
}

.divanuncio2{
    width: 90%;
    height: 200px;
    background-color: yellow;
    margin: 3%
}

.divtituloac{
    background-color: yellow;
    width: 100%;
    height: 100px;
}

.divmusicasac{
    width: 100%;
    height: 500px;
    border: 2px solid red;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 2%
}

.divartistasac{
    background-color: yellow;
    width: 49%;
    height: 500px;
}

.divmusicasac2{
    background-color: yellow;
    width: 49%;
    height: 500px;
}

.divabecedario{
    width: 90%;
    height: 50px;
    background-color: yellow;
    margin: 3%
}

.divfooter{
    width: 100%;
    height: 400px;
    background-color: yellow;
}