@charset "utf-8";
/* CSS Dócument */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.lista a{  display: flex;
            flex-direction: row;
            justify-content: left;
            justify-items: center;
            align-items: center;
            align-content: center;
            height: 50px;
            width: 100%;
}
.lista h3{  font-family: 'Poppins', sans-serif;
            font-size: .95em;
            color: #3a3a3a;
            white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
}
.lista li{  list-style-type: none;
            height: 50px;
            width: 100%;
            
}

.lista li:hover{ background-color: #6CA1BB;}

.lista img{  width: 30px;}

#outro li{  list-style: none;
    text-align: center;
    height: 50px;}
#outro h3{  font-family: 'Poppins', sans-serif;
    font-size: 15.5px;
    color: #3a3a3a;}

    #outro img{  width: 40px; margin-left: -35px; margin-top: -299px;}